* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#card {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 10;
  background-color: #f1f2f5;
  color: #23272f;
  top: 20px;
  left: 20px;
  width: 25%;
  height: 85%;
  border-radius: 20px;
  padding-bottom: 20px 0;
  font-size: large;
}

#textContainer {
  padding-top: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  text-align: center;
}

#line {
  display: absolute;
  height: 10px;
  width: 100%;
  margin-top: 10px;
  opacity: 0.5;
}

#card > img {
  width: 60%;
  display: flex;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 25px;
  border-radius: 6px;
}

#card > ul {
  list-style: none;
  margin: 0 20px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 10px;
}

strong {
  font-size: larger;
}

#linksContainer {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 10px;
  padding-bottom: 20px;
}

#garmin,
#gpx {
  background-color: #ffffff;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #000;
}

#garmin:hover,
#gpx:hover {
  background-color: #ebecf0;
}

#garmin > img {
  width: 40px;
}

#gpx > img {
  width: 40px;
}

/* Mobile */
@media (max-width: 1001px) {
  #card {
    width: 70%;
    height: 70%;
  }
}
