#buttonContainer {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 20px;
  height: 70px;
}

#infoButton {
  background-image: url('/assets/navigationButtons/mapboxgl-ctrl-attrib.svg');
  background-color: #25B1FF;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 75%;
  cursor: pointer;
  height: 100%;
  width: 70px;
  border-radius: 8px;
}

#infoButton[data-status="true"] {
  background-color: greenyellow;
}

#infoButton:disabled {
  cursor: not-allowed;
}

#prevButton {
  background-image: url('/assets/navigationButtons/prevRouteIcon.svg');
  background-color: #FEAA00;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 75%;
  cursor: pointer;
  height: 100%;
  width: 70px;
  border-radius: 8px;
}

#nextButton {
  background-image: url('/assets/navigationButtons/nextRouteIcon.svg');
  background-color: #1DAB7F;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 75%;
  cursor: pointer;
  height: 100%;
  width: 70px;
  border-radius: 8px;
}
